.calculator--container {
  width: 200px;
  border: 2px black solid;
}

.calculator--result {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.calculator--key {
  width: 100%;
  padding: 0;
}
